{% extends "admin_base_panel.html" %}

{% block panel_nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand">
            <h1>RedBus Admin Panel</h1>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('admin_users_panel') }}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Buses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Bookings</a>
            </li>
        </ul>
    </nav>
    <hr>
{% endblock %}

{% block container %}
    <table>
        <from>
            <tr>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="From" required id="from_location">
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="To" required id="to_location">
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Pickup location" required id="pickup_location">
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Enter boarding time" required id="boarding_time">
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Enter de-boarding time" required id="deboarding_time">
                     </div>
                </td>
                <td>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Add</button>
                     </div>
                </td>
            </tr>
        </from>
    </table>

    <br/>

    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th>Pickup Location</th>
            <th>Boarding Time</th>
            <th>De-boarding Time</th>
            <th>Action</th>
        </tr>

        {% for bus in buses %}
        <tr>
            <td>{{bus.id}}</td>
            <td>{{bus.from}}</td>
            <td>{{bus.to}}</td>
            <td>{{bus.pickup_location}}</td>
            <td>{{bus.boarding_time}}</td>
            <td>{{bus.deboarding_time}}</td>
            <td>
                <a href="/delete/{{ bus.id }}" class="btn btn-danger" onclick="return confirm('Are you sure! you want to delete this route')">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

