{% extends "admin_base_panel.html" %}

{% block panel_nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
        <h1>RedBus Admin Panel</h1>
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_users_panel') }}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Buses <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_booking_panel') }}">Bookings</a>
        </li>
    </ul>
</nav>
<hr>
{% endblock %}

{% block container %}

<form action="{{ url_for('admin_add_route') }}" method="post">

    <table class="table table-striped">

        <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th>Pickup Location</th>
            <th>Boarding Time</th>
            <th>Traveling Time</th>
            <th>No. Of Seats</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

        <tr>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="ID" readonly>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ex. Bangalore" required name="from_location">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ex. Mysuru" required name="to_location">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ex. KRM" required name="pickup_location">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="time" class="form-control" required name="boarding_time">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" min="1" max="24" class="form-control" required name="traveling_time">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control" required name="no_of_seats">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <input type="number" class="form-control" required name="price">
                </div>
            </td>
            <td>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-success">Add</button>
                </div>
            </td>
        </tr>

        {% for bus in buses %}
        <tr>
            <td>{{bus.id}}</td>
            <td>{{bus.from}}</td>
            <td>{{bus.to}}</td>
            <td>{{bus.pickup_location}}</td>
            <td>{{bus.boarding_time}}</td>
            <td>{{bus.traveling_time}}</td>
            <td>{{bus.no_of_seats}}</td>
            <td>{{bus.price}}</td>
            <td>
                <a href="/admin_delete_route/{{ bus.id }}" class="btn btn-danger" onclick="return confirm('Are you sure! you want to delete this route')">Remove</a>
            </td>
        </tr>
        {% endfor %}

    </table>

</form>


{% endblock %}

