{% extends 'admin_base_panel.html' %}

{% block panel_nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand">
        <h1>RedBus Admin Panel</h1>
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_users_panel') }}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_buses_panel') }}">Buses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Bookings <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>
<hr>
{% endblock %}

{% block container %}

	<div class="destinations" id="destinations">
		<div class="container">

			<div class="row">
				<div class="col text-center">
					<h2> Bookings </h2>
				</div>
			</div>

			{% if show_specific_item_details %}

				<table class="table table-striped">
					<tr>
						<th>Booking ID</th>
						<th>Name</th>
						<th>Email</th>
						<th>Number Of Seats</th>
						<th>Cost</th>
					</tr>

					{% for booking in bookings %}

					<tr>
						<td>{{booking.booking_id}}</td>
						<td>{{booking.name}}</td>
						<td>{{booking.email}}</td>
						<td>{{booking.number_of_seats}}</td>
						<td>{{booking.cost}}</td>
					</tr>
					{% endfor %}
				</table>

			{% else %}

				<div class="row ">
					<div class="col">
						<div class="item_grid">

							{% for booking in bookings %}
							<!-- Route -->
							<a href="/admin_booking/{{ booking.route_id }}/details">
								<div class="item col-sm-4">
									<div class="destination_content">
										<div class="destination_title"><h2>{{ booking.from}} to {{ booking.to }}</h2></div>
										<div class="destination_route"><p>{{ booking.route_id }}</p></div>
									</div>
								</div>
							</a>
							{% endfor %}

						</div>
					</div>
				</div>

			{% endif %}
		</div>
	</div>

{% endblock %}
