<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RedBus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h4 class="navbar-brand ">RedBus</h4>
    </nav>

    <div class="container center" style="width:60%; margin-top:20px;">

        <h3 class="text-center">Start Your Travel By A Click</h3>

        <form action="" name="form_booking" method="post" style="margin-top:60px;">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control" placeholder="{{ form_data.name }}" readonly>
            </div>
            <div class="form-group">
                <label>Email address:</label>
                <input type="text" class="form-control" placeholder="{{ form_data.email }}" readonly>
            </div>
            <div class="form-group">
                <label>Number of seats:</label>
                <input type="number" min="1" max="{{ form_data.max_seats }}" class="form-control" name="total_seats" value="1" required>
            </div>
            <div class="form-group">
                <label>Total cost:</label>
                <input type="text" id="total-cost" class="form-control" name="total_cost" value="{{ form_data.cost }}" readonly>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" class="form-control" value="Submit">
            </div>
        </form>

    </div>

</body>

<footer>
    <script>
        document
            .forms["form_booking"]["total_seats"]
            .addEventListener(
                "change",
                function(){
                    let seats = document.forms["form_booking"]["total_seats"].value;
                    if( seats <= 0){
                        document.forms["form_booking"]["total_cost"].value = "Number of seats cannot be less than 1";
                    }else{
                        let total_cost = seats * {{ form_data.cost }};
                        document.forms["form_booking"]["total_cost"].value = total_cost;
                    }
                }
            );
    </script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.js') }}"></script>
</footer>

</html>