<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedBus</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h1>RedBus</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav-links">
            <li><a class="active" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('user_logout') }}">Sign out</a></li>
        </ul>
    </nav>

    <div class="main-background">
        <form name="search">
            <div class="from-to-input">
                <div class="from-input">
                    <i class="fas fa-map-marker-alt"></i>
                    <select name="from">
                        <option value="From" selected> From </option>
                        {% for location in from_locations %}
                        <option value="{{ location }}"> {{ location }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="reverse-button">
                    <i class="fas fa-retweet"></i>
                </div>
                <div class="to-input">
                    <select name="to">
                        <option value="To"> To </option>
                        {% for location in to_locations %}
                        <option value="{{ location }}"> {{ location }} </option>
                        {% endfor %}
                    </select>
                    <i class="fab fa-font-awesome-flag"></i>
                </div>
                <div class="search-input">
                    <input type="button" name="search-button" value="Search">
                </div>
            </div>
        </form>
    </div>

    <div class="bus-list">
        <h2 class="text-center text-title">Available buses</h2>
        <div class="container">
            <div class="w3-card-4">
                {% if is_search_success %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Pickup</th>
                                <th>Boarding</th>
                                <th>Duration</th>
                                <th>Seats left</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for bus in buses %}
                            <tr>
                                <td>{{bus.from}}</td>
                                <td>{{bus.to}}</td>
                                <td>{{bus.pickup_location}}</td>
                                <td>{{bus.boarding_time}}</td>
                                <td>{{bus.traveling_time}}</td>
                                <td>{{bus.no_of_seats}}</td>
                                <td>{{bus.price}}</td>
                                <td>
                                    {% if bus.no_of_seats > 0%}
                                    <form action="/RedBus/current_user/{{ bus.id }}/booking" method="post">
                                        <input type="submit" class="btn btn-danger" value="Book">
                                    </form>
                                    {% else %}
                                    <form action="#" method="post">
                                        <input type="submit" class="btn-book-disabled btn-secondary" value="Book" disabled>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% elif is_search %}
                    <h3 class="text-center font-weight-bold alert-info invalid-search"> No Buses found for your search </h3>
                {% else %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Pickup</th>
                                <th>Boarding</th>
                                <th>Duration</th>
                                <th>Seats left</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for bus in buses %}
                            <tr>
                                <td>{{bus.from}}</td>
                                <td>{{bus.to}}</td>
                                <td>{{bus.pickup_location}}</td>
                                <td>{{bus.boarding_time}}</td>
                                <td>{{bus.traveling_time}}</td>
                                <td>{{bus.no_of_seats}}</td>
                                <td>{{bus.price}}</td>
                                <td>
                                    {% if bus.no_of_seats > 0 %}
                                    <form action="/RedBus/current_user/{{ bus.id }}/booking" method="post">
                                        <input type="submit" class="btn btn-danger" value="Book">
                                    </form>
                                    {% else %}
                                    <form action="#" method="post">
                                        <input type="submit" class="btn-book-disabled btn-secondary" value="Book" disabled>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</body>

<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document
            .forms["search"]["search-button"]
            .addEventListener(
                "click",
                function(){
                    var from = document.forms["search"]["from"].value;
                    var to = document.forms["search"]["to"].value;
                    var condition = from == "From" && to == "To";
                    if(condition){
                        alert("Select  'From'  and  'To'  location")
                    }else if(from == "From"){
                        window.location.href = "/RedBus/home/-/" + to + "/search-result";
                    }else if(to == "To"){
                        window.location.href = "/RedBus/home/" + from + "/-/search-result";
                    }else{
                        window.location.href = "/RedBus/home/" + from + "/" + to + "/search-result";
                    }
                }
            );
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/bootstrap.js') }}"></script>
    <script src="https://kit.fontawesome.com/f73f05b1a6.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>

</html>